@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Bold.ttf) format('truetype');
  font-weight:bolder;
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf) format('truetype');
  font-weight:normal;
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-LightItalic.ttf) format('truetype');
  font-style: italic;
}

body{
  margin: 0;
  font-family: "Roboto";
  font-weight:normal;
}

/* ---------- index ------------- */

.wrap{
  padding: 0 15%;
}
.banner{
  background-color: #1F2937;
}
#logo{
  border-radius: 8px;
  padding: 4px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.navlinks{
  display: flex;
}

a#navlink{
  padding-left: 30px;
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight:lighter;
}
a#navlink:hover{
  font-weight: bold;
  color: #3882F6;
}
a#navlink.actual{
  color: #686869;
}
.banner h1{
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: bolder;
  color: #F8FAF8;
}
.banner p{
  color: #E5E7EB;
  font-size: 18px;
  font-family: "Roboto", sans-serif;

}
.banner a.sign{
  background-color: #3882F6;
  padding: 8px 18px;
  color: #E5E7EB;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}
.banner a.sign:hover{
  background-color: #72e3a5;
  color:#1F2937;
}
.text-img{
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  height: auto;
  padding-bottom: 50px;
}
.text-img img{
  margin: 50px 0;
  border-radius: 8px;
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 50px 50px 0;
}
a.sign{
  width: fit-content;
}
.square{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.square img{
  padding: 10px;
}
.gallery-img h2{
  font-family: "Roboto";
}
.share h2{
  font-family: "Roboto";
}
