body{
  margin: 0;
}
.wrap{
  padding: 0 15%;
}


.banner{
  background-color: #1F2937;
}
#logo{
  border-radius: 8px;
  padding: 4px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.navlinks{
  display: flex;
}

a#navlink{
  padding-left: 30px;
  color: white;
  text-decoration: none;
}
.banner h1{
  font-size: 48px;
  font-weight: bolder;
  color: white;
}
.banner p{
  color: white;
}
.banner a.sign{
  background-color: #3882F6;;
  padding: 6px 16px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}
.text-img{
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  height: auto;
  padding-bottom: 50px;
}
.text-img img{
  margin: 50px 0;
  border-radius: 8px;
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 50px 50px 0;
}
a.sign{
  width: fit-content;
}
.main-img img{
  height: 300px;
}
h2.random{
  text-align: center;
}
.triptic{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
}
.card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;

}
.img-card{
  border-radius: 8px;
  height: 160px;
  width: 160px;
}
.commentbox{
  background-color: #E5E7EB;
  padding: 50px 0;
  height: 260px;
}
.commentbox p{
  margin: 0 20%;

}

.cta {
  background-color: #3882F6;
  color: white;
  margin: 50px 20%;
  border-radius: 8px;
  padding: 12px;
}

.cta a{
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid white;
  padding: 6px 16px;
  color: white;
  font-weight: bold;
}
footer {
  padding: 20px 0;
  color: white;
  background-color: #1F2937;
}
