@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format('truetype');
  font-weight:bolder;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format('truetype');
  font-weight:normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-LightItalic.ttf) format('truetype');
  font-style: italic;
}

body{
  margin: 0;
  font-family: "Roboto";
  font-weight:normal;
}

/* ---------- index ------------- */

.wrap{
  padding: 0 15%;
}
.banner{
  background-color: #1F2937;
}
#logo{
  border-radius: 8px;
  padding: 4px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.navlinks{
  display: flex;
}

a#navlink{
  padding-left: 30px;
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight:lighter;
}
a#navlink:hover{
  font-weight: bold;
  color: #3882F6;
}
@media only screen and (max-width: 420px) {
  a#navlink {
    font-size: 12px;
  }
}
.banner h1{
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: bolder;
  color: #F8FAF8;
}
.banner p{
  color: #E5E7EB;
  font-size: 18px;
}
.banner a.sign{
  background-color: #3882F6;;
  padding: 8px 18px;
  color: #E5E7EB;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}
.banner a.sign:hover{
  background-color: #72e3a5;
  color:#1F2937;
}
.text-img{
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  height: auto;
  padding-bottom: 50px;
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 50px 50px 0;
}
@media only screen and (max-width: 940px) {
  .text-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text  {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text a{
    align-self: center;
  }
}
.text-img img{
  margin: 50px 0;
  border-radius: 8px;
}


a.sign{
  width: fit-content;
}
.main-img img{
  height: 320px;
}
@media only screen and (max-width: 1070px){
  .main-img img {
    height: 200px;
  }
}


h2.random{
  text-align: center;
  color: #1F2937;
}
.triptic{
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  margin: 50px 0;
}
@media only screen and (max-width: 1070px) {
  .triptic {
    display: flex;
    flex-wrap: wrap;
  }
}
.card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  margin: 10px 10px;
  /* height: ; */
}
.card h2{
  color: #1F2937;
}
.img-card{
  border-radius: 8px;
  height: 160px;
  width: 160px;
}
.commentbox{
  background-color: #E5E7EB;
  padding: 30px 0;
  height: auto;
}

.commentbox p{
  /* margin: 0 20%; */
  font-family: "Roboto", sans-serif;
  font-style:italic;
  font-size: 36px;
  text-align: justify;
}
@media only screen and (max-width: 860px) {
  .commentbox p {
    font-size:20px;
  }
}
.down{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
small{
  font-style: italic;
}

.cta {
  background-color: #3882F6;
  color: #E5E7EB;
  margin: 50px 25%;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (max-width: 1215px) {
  .cta {
    display: flex;
    flex-direction: column;
  }
}
.cta p{
  font-weight: 400;
}

.cta a{
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #E5E7EB;
  padding: 6px 16px;
  color: #E5E7EB;
  font-weight: bold;
  height: fit-content;
  /* align-self: flex-end; */
}
.cta a:hover{
  background-color:#E5E7EB;
  color: #3882F6;
}
@media only screen and (max-width: 680px) {
  .down {
    display: flex;
    flex-direction: column;
  }
}

footer {
  padding: 20px 0;
  color: #E5E7EB;
  background-color: #1F2937;
}
.foot{
  display: flex;
  justify-content: space-between;
}
.address a{
  text-decoration: none;
  color: #3882F6;
}
.address a:hover{
  color:#6a9ef2;
  font-weight: bold;
}

ul{
  padding-left: 0;
}
li{
  display: inline;
  list-style: none;
}
i{
  font-size: 32px;
  margin-left: 20px;
}
.social a{
  text-decoration: none;
  color: #E5E7EB;
}
.social a:hover{
  color:#6a9ef2;
}
@media only screen and (max-width: 840px) {
  .foot {
    display: flex;
    flex-direction: column;
  }
}
