@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format('truetype');
  font-weight:bolder;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format('truetype');
  font-weight:normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-LightItalic.ttf) format('truetype');
  font-style: italic;
}

body{
  margin: 0;
  font-family: "Roboto",sans-serif;
  font-weight:normal;
}

/* ---------- index ------------- */

.wrap{
  padding: 0 15%;
}
.banner{
  background-color: #1F2937;
  height: 100%;
  min-height: 100vh;
}
#logo{
  border-radius: 8px;
  padding: 4px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.navlinks{
  display: flex;
}

a#navlink{
  padding-left: 30px;
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
  font-family: "Roboto",sans-serif;
  font-weight:lighter;
}
@media only screen and (max-width: 420px) {
  a#navlink {
    font-size: 12px;
  }
}
a#navlink:hover{
  font-weight: bold;
  color: #3882F6;
}
a#navlink.actual{
  color: #686869;
}
@media only screen and (max-width: 540px) {
  a#navlink.actual {
    display:none;
  }
}
.banner h1{
  font-family: "Roboto",sans-serif;
  font-size: 48px;
  font-weight: bolder;
  color: #F8FAF8;
}
.banner p{
  color: #E5E7EB;
  font-size: 18px;
  font-family: "Roboto",sans-serif;
}

.text-img{
  display: flex;
  justify-content: space-between;
  margin: 50px 0 0 0;
  height: auto;
}
@media only screen and (max-width: 674px) {
  .text-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.text-img img{
  margin: 50px 0;
  border-radius: 8px;
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 50px 50px 0;
}
@media only screen and (max-width: 1210px) {
  .text p {
    font-size: 14px;
  }
}
.text h2{
  font-family: "Roboto",sans-serif;
  font-weight: bold;
  color: #E5E7EB;
}
@media only screen and (max-width: 1210px) {
  .text h1 {
    font-size: 30px;
  }
}

.aboutus img{
  width: 300px;
}
